h1 {
  text-align: center;
  text-transform: uppercase;
}
.numberInput {
  width: 450px;
  margin: 0 auto;
  height: 40px;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 32px;
  line-height: 40px;
  padding: 0px 10px;
}
.numberPad {
  width: 420px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 10px;
}
.row {
  width: 80px;
  float: left;
  margin: 0px 2px;
  box-sizing: border-box;
}
.backspace,
.numberButton {
  width: 80px;
  height: 80px;
  display: block;
  background-color: transparent;
  border: 1px solid black;
  margin: 4px 0px;
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
}
.enter {
  width: 80px;
  height: 164px;
  border: 1px solid black;
  margin: 1px;
  background-color: #D85A45;
  color: white;
  padding: 0px;
  box-sizing: border-box;
}

.enter > a {
  color: white;
  height: 100%;
  line-height: 170px;
  font-weight: 100;
  width: 100%;
  padding: 0px;
}

.pageBack {
  display: block;
}
