.numberInput {
  width: 450px;
  margin: 0 auto;
  height: 40px;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 32px;
  line-height: 40px;
  padding: 0px 10px;
  overflow: hidden;
}
.numberPad {
  width: 420px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}
.row {
    width: 80px;
    /* float: left; */
    margin: 0px 2px;
    /*box-sizing: border-box;*/
    display: inline-block;
    vertical-align: top;
}
.backspace,
.numberButton {
  width: 80px;
  height: 80px;
  display: block;
  background-color: transparent;
  border: 1px solid black;
  margin: 4px 0px;
  font-size: 30px;
  box-sizing: border-box;
}
.enter {
  width: 80px;
  height: 164px;
  border: 1px solid #D85A45;
  margin: 1px;
  background-color: #D85A45;
  color: white;
  padding: 0px;
  box-sizing: border-box;
}

.enter > a {
  color: white;
  height: 100%;
  line-height: 170px;
  font-weight: 100;
  width: 100%;
  padding: 0px;
}

.pageBack {
  display: block;
  float: none;
  clear: both;
  text-align: center;
  border: 1px solid #D85A45;
  width: 156px;
  margin: 0 auto;
}
.pageBack > a {
  color: #D85A45;
  text-transform: uppercase;
  font-family: 'Bank Gothic' !important;
  width: 100%;
  height: 100%;
  line-height: 38px;
}
.pageBack > a > img {
  padding: 5px 10px 5px 0px;
}
